<h3 id="tableLabel">Choose a product:</h3>

<p *ngIf="!products"><em>Loading...</em></p>

<table class="table table-hover" aria-labelledby="tableLabel" *ngIf="products">
  <thead class="thead-dark">
    <tr>
      <th></th>
      <th>Name</th>
      <th>Price</th>
    </tr>
  </thead>
  <tbody>
    <tr class="clickable" *ngFor="let product of products" [routerLink]="['/products', product.id]">
      <td><img class="product-img" src="{{ product.image }}" /></td>
      <td class="align-middle font-weight-bold">{{ product.name }}</td>
      <td class="align-middle">{{ product.price | currency }}</td>
    </tr>
  </tbody>
</table>